* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  justify-content: end;
  height: 5vh;
}

header .container.btn {
  justify-content: end;
}


footer .container.btn.central {
  justify-content: center;
}

footer .container.btn.right {
  justify-content: end;
}

main {
  justify-content: center;
  height: calc(100vh - 13vh);
}

.container.w90.h800 {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 10px;
  height: 100%;
  margin: 0;
}

main .container {
  padding: 15px;
}

/* Simone ha tolto il margin al container */

footer {
  justify-content: space-between;
  height: 8vh;
}

.container.btn.footer.left {
  justify-content: space-between;
}

.footer.left .btn.footer {
  flex-basis: 50%;
}


/* Continer-IMG */
.img-container {
  position: relative;
  padding: 1px;
  width: 150px;
  height: 100px;
}

img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.img-container div {
  font-size: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: .5;
  padding: 5px;
  color: white;
}