* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  justify-content: end;
}

.container.debug.btn {
  justify-content: space-around;
}

main {
  justify-content: center;
}

.container {
  margin: 10px;
}