* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  justify-content: end;
  height: 5vh;
}

header .container.btn,
footer .container.btn.central {
  justify-content: end;
}

footer .container.btn.right {
  justify-content: end;
}

main {
  justify-content: center;
  height: calc(100vh - 13vh);
}

.container {
  margin: 10px;
  height: 100%;
  margin: 0;
}

main .container {
  padding: 15px;
  border: 1px solid yellowgreen;
}

/* Simone ha tolto il margin al container */

footer {
  justify-content: space-between;
  height: 8vh;
}

.container.dubug.btn.footer.left {
  justify-content: space-between;
}

.footer.left .btn.footer {
  flex-basis: 50%;
}


/* D-flex btn footer */