header, main {
  background-color: black;
}

footer {
  background-color: #191919;
}

header .btn {
  background-color: black;
}

/* NB. Riordina tutto il cod secondo parametri file */

header .container i {
  margin-right: 5px;
}

.btn.footer.left .btn.footer div {
  text-align: center;
}

.btn.footer.left .btn.footer div p {
  margin-top: 15px;
}

.btn.footer.central .btn.footer div {
  text-align: center;
}

.btn.footer.central .btn.footer div p {
  margin-top: 15px;
}

.btn.footer.central .btn.footer:nth-child(2) {
  flex-basis: 20%;
}

.btn.footer.central .btn.footer:nth-child(7) {
  flex-basis: 20%;
}