/* D-FLEX */
.d-flex {
  display: flex;
}

/* WIDTH */
.w100 {
  width: 100%;
}

.w90 {
  width: 90%;
}

.w50 {
  width: 50%;
}

/* HEIGHT */
.altezza-5vh {
  height: 5vh;
}

.f-basis50 {
  flex-basis: 50%;
}

 /* DEBUGS */
.debug {
  background-color: bisque;
  border: 1px solid black;
}

/* BTN */
.container.debug.btn {
  flex-basis: 10%;
  text-align: center;
}

.container.debug.btn.footer.central {
  flex-basis: 40%;
  text-align: center;
}

.btn {
  background-color: black;
}

header .btn.left {
  flex-basis: 60%;
  height: 20px;
  border: 1px solid yellowgreen;
}

header .btn.right {
  flex-basis: 40%;
  height: 20px;
  border: 1px solid yellowgreen;
}

/* BTN FOOTER */
.btn.footer {
  flex-basis: 10%;
}


.btn.footer.right .btn.footer {
  flex-basis: 100%;
  border: 1px solid yellowgreen;
}

.btn.footer.central .btn.footer {
  border: 1px solid yellowgreen;
}

.btn.footer.left .btn.footer {
  border: 1px solid yellowgreen;
}



