/* D-FLEX */
.d-flex {
  display: flex;
}

/* WIDTH */
.w100 {
  width: 100%;
}

.w90 {
  width: 90%;
}

.w50 {
  width: 50%;
}

/* HEIGHT */
.altezza-5vh {
  height: 5vh;
}

.f-basis50 {
  flex-basis: 50%;
}

 /* DEBUGS */
.debug {
  background-color: bisque;
}

/* BTN */
.container.btn {
  flex-basis: 22%;
}

.container.debug.btn.footer.central {
  flex-basis: 40%;
}

.btn {
  background-color: #191919;
  display: flex;
}

header .btn.left {
  justify-content: space-between;
  flex-basis: 43%;
  margin-right: 5px;
  color: white;
  padding: 5px;
  height: 25px;
  background-color: #393939;
  margin-top: 5px;
  border-radius: 1px;
}

header .btn.right {
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  color: white;
  flex-basis: 10%;
  height: 25px;
  background-color: #393939;
  margin-top: 5px;
  border-radius: 1px;
}

/* BTN FOOTER */
.btn.footer {
  flex-basis: 10%;
}

.btn.footer.right .btn.footer {
  justify-content: center;
  align-items: center;
  background-color: #393939;
  color: red;
  flex-basis: 100%;
}

.btn.footer.central .btn.footer {
  justify-content: center;
  align-items: center;
  color: white;
}

.btn.footer.central .btn.footer:nth-child(4) {
  color: yellowgreen;
}

.btn.footer.central .btn.footer:nth-child(5) {
  justify-content: space-around;
}

.btn.footer.left .btn.footer {
  justify-content: space-around;
  align-items: center;
  color: white;
}

.btn.footer.central .btn.footer i:first-child {
  font-size: 25px;
}

.btn.footer.central .btn.footer i:nth-child(2) {
  font-size: 10px;
}

.btn.footer.central .btn.footer:nth-child(5) i:nth-child(1) {
  font-size: 10px;
}

.btn.footer.central .btn.footer:nth-child(5) i:nth-child(2) {
  font-size: 25px;
}

.btn.footer.left .btn.footer i:first-child {
  font-size: 25px;
}

.btn.footer.left .btn.footer i:nth-child(2) {
  font-size: 10px;
}
