.d-flex {
  display: flex;
}

.w100 {
  width: 100%;
}

.h5 {
  height: 5vh;
}

.h800 {
  height: 800px;
}

.w80 {
  width: 80%;
}

.debug {
  background-color: bisque;
  border: 1px solid black;
}

.container.debug {
  background-color: rgb(209, 144, 65);
  border: 1px solid black;
}